<?php

// Authentifizierungsmethode (0 = einfaches Passwort, 1 = LDAP)
define('AUTH_METHOD', 0); // Setzen Sie auf 0 für einfaches Passwort oder 1 für LDAP

/* Login with password */
define('PASSWORD', 'secret');

/* technical configuration: paths */
define('BASE_DIR', '/var/www/html/fehlzeiten/');
define('UPLOAD_DIR', '/var/www/html/fehlzeiten/uploads/');
define('ABSENCE_SHELL_SCRIPT', BASE_DIR . 'abwesenheitsmeldung.sh');
define('SENT_DB', BASE_DIR . 'sent.db');
define('AUSBILDER_FILE', UPLOAD_DIR . 'ausbilder_Emails.csv');

/* LDAP configuration: */
define('LDAP_SERVER', 'ldaps://your.ldap.server');
define('LDAP_PORT', 636);
define('LDAP_BASE_DN', 'dc=example,dc=com');
define('LDAP_DOMAIN', 'yourdomain.com');
define('LDAP_BIND_ADDRESS', 'ou=benutzer,dc=ldap,dc=aesettlingen,dc=de'); // Optional: Filter für die LDAP-Authentifizierung
define('LDAP_BIND_DN', 'cn=admin,dc=example,dc=com'); // Bind-DN für die LDAP-Verbindung
define('LDAP_BIND_PASSWORD', 'adminpassword'); // Passwort für die LDAP-Verbindung
define('LDAP_FILTER_ATTRIBUTE', 'cn'); // Attribut für die LDAP-Suche (z.B. 'cn' oder 'uid')

// SMTP-Einstellungen
define('USE_SMTP', true);
define('SMTP_HOST', 'smtp.example.com');
define('SMTP_USER', 'your_email@example.com');
define('SMTP_PASS', 'your_email_password');
define('SMTP_PORT', 587);
define('MAIL_FROM', 'your_email@example.com');
define('MAIL_FROM_NAME', 'Your Name');
define('MAIL_SUBJECT', 'Test Email Subject');


/* design configuration */

define('HEADER_IMAGE', '<a href="https://www.hhs.karlsruhe.de/" class="custom-logo-link" rel="home" itemprop="url">
     <img src="images/Schullogo_AES.png" class="custom-logo" alt="HHS" itemprop="logo" width="110" height="103"></a>');
define('HEADER_TEXT', '<h1 id="site-title"><a href="https://www.aesettlingen.de/" title="Albert-Eisntein-Schule Ettlingen"
     rel="home">Albert-Eisntein-Schule Ettlingen</a></h1>
   <p id="site-description">Schule f&uuml;r Elektrotechnik und Informationstechnik</p>');


/* email text configuration */
/* Note that the three string placeholders %s are required. The first will be replaced by the student's name,
     the second by their class and the third by the absence duration.*/

define('MAIL_TEXT', 'Teilnahme am Berufsschulunterricht


Sehr geehrte Damen und Herren,

Ihr Auszubildender/Ihre Auszubildende

Herr/Frau: %s
Klasse: %s

%s
Max-Muster-Schule Musterstadt gefehlt. Weitere Fehlstunden können noch im
Klassentagebuchsystem nachgemeldet werden, Sie werden dann aber keine weitere
E-Mail für diesen Tag erhalten.

Bei dauerhafter Erkrankung erbitten wir eine Kopie der Krankmeldung. Sie werden
dann für die Dauer der Krankheit nicht mehr benachrichtigt.

Gez.: Sekretariat der Max-Muster-Schule Musterstadt

--

Sekretariat

Max-Muster-Schule 
Musterstraße 51
13567 Musterstadt

Tel.: 0127 123-0185
Fax: 0127 123-0186
Mail: sekretariat@musterschule.de
Homepage: www.example.com');
?>

